<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test  name="Test01">
  <parameter name="node" value="http://192.168.0.104:5411/wd/hub"></parameter>
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.tests.PHPTravelsTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="Test02">
  <parameter name="node" value="http://192.168.0.104:5411/wd/hub"></parameter>
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="com.tests.PHPTravelsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
